
/*----------- GENERAL --------------*/
html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body { font-size: 16px; font-family: Verdana, sans-serif; }
header, nav, main, footer { min-width: 260px; }


/*----------- HEADER --------------*/
header {
    padding: 10px;
    background-color: #1C2A3B;
    vertical-align: middle;
    display:grid;
    grid-template-columns: 30px auto auto;
}
header img { width:30px; margin: 0px; }
header div h1 {
    color:#ffffff;
    font-size: 11px;
    font-weight: bold;
    padding: 0px;
    margin: 8px 0 0 0;
}
header div h2 {
    color:#cacbcf;
    font-size: 8px;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
}
header div.dateHeader {
    color:#93989F;
    font-size: 8px;
    text-align: right;
    vertical-align: middle;
    padding: 10px 5px 0 0; 
}
#dateS{ display: inline-block; }
#dateL{ display: none; }


/*----------- NAVIGATION --------------*/
nav { background-color: #011730; clear: both; position: relative; }
.clearfix:after { content: ""; display: table; clear: both; }
nav button {
    font-size: 12px;
    margin: 0px;
    width: 48%;
    height: 32px;
    display: inline;
    background-color: #011730;
    color: #cacbcf;
    border: 0px;
    text-align: left;
    cursor: pointer;
    font-family: Verdana, sans-serif;
}
.cerrar { display: none; color: #cacbcf; background-color: #011730; }
nav ul { list-style-type: none; padding: 0; margin: 0; display: block; }
nav ul li a {
    display: block;
    color: #cacbcf; 
    padding: 8px 0;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
}
nav ul.hide { display: none; }
nav ul li a:hover, nav button:hover { background-color: #000; color: #fff; cursor: pointer; }
nav ul li.active a { background-color: #000; color: #D4AF37; cursor: default; font-weight: bold; }
nav ul li.active a:hover { background-color: #000; color: #D4AF37; cursor: default; font-weight: bold; }
nav ul li.active, nav button:active { background-color: #FFD700; color: #000; }
.search { float: right; position: absolute; top: 0px; right: 0px; }
.search table { width: 100%; }
.search table .td { text-align: right; }
.search table .img { width: 16px; }
.search img { width: 14px; }


/*----------- MAIN --------------*/

/* Home */
main { padding-bottom: 20px; }
main div.img { min-width: 260px; width: 100%; position: relative; }
main img.family { width: 100%; }
#msg {
    position: absolute;
    padding: 6px;
    top: 6px;
    right: 6px;
    width: 45%;
    font-size: 9px;
    background-color: rgba(1, 23, 48, 0.6);
    color: #fff;
    line-height: 10px;
}
main h1 { font-size: 12px; padding: 0px 10px; }
main h2 { font-size: 11px; padding: 0px 10px; }
main p { font-size: 11px; padding: 0px 10px; text-align: justify; }
main a { color: #011730; }
main a:hover { color: #000080; }
main a:active { color: #FFD700; }
main div.services { display: flex; flex-wrap: wrap; width: 100%; justify-content: space-around; }
main div.services div { margin: 10px; flex-basis: 100%; }
main div.services div img { width: 100%; }

/* Temples */
main .tLinkBack { font-size: 10px; margin: 10px; }
#dCont { width: 100%; padding: 0px 10px 10px 10px; }
#hr { width: 100%; display: block; }

#dImg {
    width: 100%;
    margin-top: 10px;
    text-align: right;
    float: none;
}
#tImg { width: 100%; background-color: #93989F; }
#tLinkGal, #tLinkEml, #tLinkCal, #tPhone { font-size: 10px; margin-left: 10px; }

#dText { margin-top: 11px; width: 100%; }
#tName, #tName1 {
    font-family: 'Tangerine', cursive;
    font-size: 11vw;
    text-align: center;
    min-width: 240px;
}
#tName { display: block; }
#tName1 { display: none; }
main .tClassTtl {
    font-size: 12px;
    font-weight: bold;
    border-bottom: solid 1px #93989F;
    color: #1c2a3b;
    padding-bottom: 2px;
    margin: 10px 0px;
}

.tClassPrg { font-size: 11px; margin: 10px 10px 15px 10px; text-align: justify; }
.dLnk { margin-bottom: 15px; }
#callT, #callA { width: 100%; text-align: center; }
#callA { display: none; }
#callT { display: table; }
#current { font-size: 11px; }
#city { font-size: 11px; font-weight: bold; }
#cTable { width: 80%; font-size: 11px; }
#cTable #td1 { text-align: center; }

/* Reservations */
main .enlace { font-size: 11px; color: #011730; padding: 10px; }
#genForm { display:flex; flex-wrap: wrap; width: 100%; justify-content: space-around; }
form { flex-basis: 100% }
.flxCntr { flex-basis: 100% }
#callR { flex-basis: 100%; }
#callR img, #callT img, #callA img { width: 40px; }
#callR table, #callT table, #callA table { width: 170px; margin-left: auto; margin-right: auto; }
#callR table td, #callT table td, #callA table td { text-align: center; font-size: 10px; }
.eqt { width: 33%; }
#callR .phone1, #callT .phone1, #callA .phone1 {
    font-size: 22px;
    font-weight: bold;
    font-family: 'PT Serif', serif;
}
.childHide { display: none; }
.childShow { display: block; }
.detail { font-size: 10px; color: #93989F; }
.flxCntr table { font-size: 10px; margin: 0 10px; }
.flxCntr table td { vertical-align: top; text-align: justify; }
#text { font-size: 11px; margin-right: 30px; margin-bottom: 15px; text-align: justify; }
.op { color: #D4AF37; }
.hideTxt { display: none; }
.showTxt { display: block; }

/* Services */
.lista { font-size: 11px; }
.services a { font-size: 10px; padding: 0px 10px; }
#posi { visibility: hidden; }
#posi img { width: 100%; height: auto; }
.ani {
    margin: 10px;
    width: auto;
    height: auto;
    min-width: 240px;
    position: relative;
}
.ani div { position: absolute; top: 0px; left: 0px; }
.ani div img { width: 100%; height: auto; }
.shImg { display: block; }
.hdImg { display: none; }
.pSp { margin-top: 0px; }
#p4, #p5 { display: none; }
#suite { padding: 10px 10px 0 10px; width: auto; }
#suite img { width: 100%; }

/* Contact */
#linea1 { display: block; }
#mapAPI {
    display: flex;
    flex-wrap: wrap;
    min-width: 260px;
    width: 100%;
    padding: 10px;
}
#mapAPI iframe { width: 100%; height: 200px; }
#call {
    min-width: 260px;
    width: 100%;
    display:grid;
    grid-template-columns: auto 90px 55px 95px auto;
}
#tlA { text-align: center; }
#call div {
    display:table-cell;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 10px;
}
.border { grid-row: span 5; }
.booking img { width: 60px; }
.callTxt { font-size: 12px; }
.orTxt {
    font-size: 22px;
    grid-row: span 2;
    vertical-align: middle;
    padding-top: 25px;
}
.phone { grid-column: span 3; text-align: center; font-size: 28px; padding: 15px; }
.schedule { grid-column: span 3; }
.schedule p { text-align: center; margin-top: 0px; }`
.flxCntr  {
    display: flex;
    flex-direction: column;
    min-width: 260px;
    width: 100%;
    text-align: left;
    margin-top: 10px;
    vertical-align: middle;
}
.flxCntr div {
    font-size: 11px;
    width: 100%;
    text-align: left;
    padding: 0 10px;
}
.label, .titulo { text-align: center; width: 100%; }
.flxCntr div input, .flxCntr div select, .flxCntr div textarea {
    padding: 8px;
    font-size: 11px;
    width: 100%;
    margin: 0 15px 10px 0;
    font-family: Verdana, sans-serif;
}
.flxCntr div fieldset { border: 1px solid #A9A9A9; text-align: center; }
.flxCntr div select, .flxCntr div textarea { margin-bottom: 10px; }
.flxCntr div input[type="radio"] { margin: 5px; padding: 0px; width: auto; }
.flxCntr div input[type="submit"] { margin-top: 10px; }
#ratingvalue { text-align: right; font-size: 11px; }
.rqrd { color: #f79e1c; }


/*----------- FOOTER --------------*/
footer {
    font-size: 10px;
    background-color: #cacbcf;
    color: #1c2a3b;
    padding: 10px;
    border-top: 1px solid #93989F;
    clear: both;
}
footer h4 { margin: 0 0 3px 0; padding: 0; font-size: 11px; display: inline-block; }
footer .copy {
    font-size: 11px;
    min-width: 260px;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}

/*----- Clearfix: Force an Element not to collapse -----*/