/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {

/*----------- BODY --------------*/


/*----------- HEADER --------------*/
header figure { width:60px; margin: 4px 10px 7px 0px; }
header h1 { font-size:24px; }
header h2 { font-size:16px; }

/*----------- NAVIGATION --------------*/
nav ul { margin-left: 2%; }
nav ul li { float: left; }
nav ul li a { padding: .5rem 1rem; }
.home { width: 60px; }

/*----------- MAIN --------------*/
main figure { width: 50%; float: right; margin-left: 2%; margin-bottom: 2%; }
main div { width: 48%; float: left; position: relative; margin-right: 10px; clear: none; }


/*----------- FOOTER --------------*/
footer { clear: both; font-size: 14px; }


} /* end of media query */