/*   Medium Size   */
@media only screen and (min-width: 1028px) {


header, nav, main, .info, footer { max-width: 1024px; margin:auto; }


/*----------- BODY --------------*/


/*----------- HEADER --------------*/
header { padding-left: 20px; }
header figure { width:85px; }
header h1 { font-size:48px; margin-top: 2px; }
header h2 { font-size:24px; }
.home { width:85px; }


/*----------- NAVIGATION --------------*/
nav button { display: none; }
nav ul { display: block; margin-left: 20px; }
nav ul.hide { display: block; }
.clearfix:after { display: table; }


/*----------- MAIN --------------*/
main figure { width: 33%; }
.current { min-height: 400px; }
.forecast { width: 75%; }

.info { padding: 1.5%; }


/*----------- FOOTER --------------*/


} /* end of media query */