/*   Medium Size   */
@media only screen and (min-width: 560px) {


/*----------- BODY --------------*/


/*----------- HEADER --------------*/
header figure { width:60px; }
header h1 { font-size:24px; }
header h2 { font-size:16px; }


/*----------- NAVIGATION --------------*/
nav button { display: none; }
nav ul { display: block; margin-left: 2%; }
nav ul.hide { display: block; }
nav ul li { float: left; }
nav ul li a { padding: .5rem 1rem; }
.home { width: 60px; }
.clearfix:after { display: table; }


/*----------- MAIN --------------*/
main figure { width: 50%; float: right; margin-left: 2%; margin-bottom: 2%; }
main div { width: 48%; float: left; position: relative; margin-right: 10px; clear: none; }
.current { min-height: 300px; }
.current div { font-size: 18px; margin: 20px 0px 0px 20px; padding: 0px 0px 20px 20px;  }
.current div h2 { font-size: 20px; }
.forecast { display: inline-block; width: 100%; top: -15px; }
.history { width: 100%; margin-bottom: 30px; }
.history figure { width: 45%; float: right; margin-left: 2%; margin-bottom: 2%; }
.forecast table tr td { padding: 10px; }
.day0{ background-color: #111; font-family: 'Lobster', cursive; font-size: 16px }
.day1{ background-color: #1f4371; }
.day2{ background-color: #24528D; }
.day3{ background-color: #2962a9; }
.day4{ background-color: #2E6EBF; }
.day5{ background-color: #347bd5; }

.info { padding: 2%; }
.info div { width: 49%; display: inline-block; vertical-align: top; }


/*----------- FOOTER --------------*/
footer { clear: both; font-size: 14px; }


} /* end of media query */